<html>
    <head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <ul>
            {% for scene in scenes %}
            <li><a href="{{request.path}}/scenes/{{scene.id}}">{{scene.name}}</a></li>
            {% endfor %}
        </ul>
        <a href="{{request.path}}/createscene">
            <button type="button" class="btn btn-primary">Add new</button>
        </a>
    </body>
</html>